<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <add name="SystemMainDBConnectionStrings" connectionString="Data Source=SSERV33;Initial Catalog=製造調達;Persist Security Info=True;User ID=SJEDP;Password=SJEDP" providerName="System.Data.SqlClient" />
    <add name="SansoMainDBConnectionStrings" connectionString="Data Source=SSERV33;Initial Catalog=情報システム;Persist Security Info=True;User ID=SJEDP;Password=SJEDP" providerName="System.Data.SqlClient" />
    <add name="SansoSeikoFrameDBConnectionStrings" connectionString="Data Source=SSERV33;Initial Catalog=機械管理;Persist Security Info=True;User ID=SJEDP;Password=SJEDP" providerName="System.Data.SqlClient" />
    <add name="SnasoSeikoSeikeiDBConnectionStrings" connectionString="Data Source=sserv33;Initial Catalog=成型管理;Persist Security Info=True;User ID=SJEDP;Password=SJEDP" providerName="System.Data.SqlClient" />
    <add name="SansoProdPlanDBConnectionStrings" connectionString="Data Source=SSERV33;Initial Catalog=生産計画;Persist Security Info=True;User ID=SJEDP;Password=SJEDP" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- WEBAPI接続先 -->
    <!--<add key="connectionWebAPIURL" value="http://sserv05/TestSansoApi/v1/api/" />-->
    <!--<add key="connectionWebAPIURL" value="http://sserv05/SansoApi/v1/api/" />-->
    <add key="connectionWebAPIURL" value="http://localhost:62543/SansoApi/v1/api/" />

    <!-- このソリューションの会社コード -->
    <add key="CompanyCode" value="0000" />

    <!-- Reportの接続文字列 -->
    <add key="C1ReportConnectionString" value="DATA SOURCE=sserv33;Initial Catalog=BUHINHYO;Persist Security Info=True;Provider=SQLOLEDB.1;User ID=SJEDP;Password=SJEDP" />
    <!-- プリンタ設定 -->
    <!-- 社内移行 -->
    <add key="InsideTrans" value="InsideTrans" />
    <!-- 有償支給 -->
    <add key="OutsideTrans" value="OutsideTrans" />
    <!-- 納品書 -->
    <add key="DelivSlip" value="DelivSlip" />

    <!-- 現品票 -->
    <add key="GoodsTagA6" value="GoodsTagA6" />
    <!-- 現品票 -->
    <add key="GoodsTag" value="GoodsTag" />

    <!-- 旧現品票 -->
    <add key="ProductPartsTag" value="ProductPartsTag" />
    <!-- 旧旧現品票 -->
    <add key="TEC_GENPINHYO" value="TEC_GENPINHYO" />

    <!-- SSERV33接続時の背景色 -->
    <add key="DevelopBackColor" value="192, 255, 255" />

    <!-- 外販 送品案内書の保存先 -->
    <add key="ShipmentGuidePath" value="O:\青山サンソー\第二工場\送品案内書_System\" />
    <!-- サンソー精工塗装の図面の保存先 -->
    <add key="SeikoPaintDrawingPath" value="tdsv01\HPGL\" />
    <!--<add key="SeikoPaintDrawingPath" value="Sserv04\技術共用\HPGL\" />-->

    <!-- 部品構成表　リンク文字列 -->
    <add key="S018_SansoBillsOfMaterialsAppPath" value="\\sserv04\WORK\CS\部品構成表\S018_SansoBillsOfMaterialsApp.appref-ms"/>

    <!-- メッセージDOCの保存先 -->
    <add key="SansoBaseMessageDocPath" value="Doc\" />
    <!-- 共通ヘルプDOCの保存先 -->
    <add key="SansoBaseHelpDocCommonPath" value="Doc\" />
    <!-- 独自ヘルプDOCの保存先 -->
    <add key="SansoBaseHelpDocOriginalPath" value="Doc\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

</configuration>